<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
        <a href="/addnewproduct" class="btn btn-primary">Log Out</a>
    </div>
    
  </div>