<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>

    <div class="v-main">
        <div class="v-logo">
            <img src="/images/logos.png" alt="">
            <div class="searchbar">
                <input type="search" placeholder="search"><i class='bx bx-search'></i>
            </div>
            <div class="vendor-content">

                <p> Flowers Gift Cake Point </p>
                <p>demo77@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="v-option">
            <ul class="v-sidebar">
                <li>
                    <a class="v-item" href="/home/">
                        <i class='bx bx-home-smile'></i>
                        <span class="v_name">Home</span>

                    </a>
                </li>

                <li>
                    <a class="v-item" href="/inventory/">
                        <i class='bx bxl-invision'></i>
                        <span class="v_name">My Inventory</span>
                    </a>
                </li>
                <li>
                    <a class="v-item" href="/sales/">
                        <i class='bx bx-wallet-alt'></i>
                        <span class="v_name">Sales</span>
                    </a>
                </li>
                <li>
                    <a class="v-item" href="/order/">
                        <i class='bx bxs-briefcase'></i>
                        <span class="v_name">Order</span>
                    </a>
                </li>
                <li>
                    <a class="v-item" href="/ticket/">
                        <i class='bx bxs-sticker'></i>
                        <span class="v_name">Rise Ticket</span>
                    </a>
                </li>
                <li>
                    <a class="v-item" href="/ticket/">
                        <i class='bx bxs-sticker'></i>
                        <span class="v_name">My Ticket</span>
                    </a>
                </li>
            </ul>
        </div>