<%- include('./partials/header'); %>
    <div class="dashboard">
        <div class="icon">
            <i class='bx bxl-xing'></i>
            <div class="icon1">
                <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
                <a href=" ">Log out </a>
            </div>

        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Blog Single Page Setting</h2>
                    <p>Home / Blogs Single Page Setting</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
            </div>
        </div>
        <div class="blog_s">
            <div class="blog_n">
                <h4>Blog Single Page Setting</h4>
            </div>
            <div class="name_b">
                <label for="exampleFormControlInput1" class="form-label">Related Post Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Related Post">
              </div>
              <div class="name_b">
                <label for="exampleFormControlInput1" class="form-label">Tags Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tags">
              </div>
              <div class="name_b">
                <label for="exampleFormControlInput1" class="form-label">Share Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Share Title">
              </div>
              
              <div class="name_b">
                <a href=""  class="btn btn-primary" >Update Blog Page Setting</a>
              </div>
        </div>
        <%- include('./partials/footer'); %>