<%- include('./partials/header'); %>

    <div class="dashboard">
        <div class="icon">
            <i class='bx bxl-xing'></i>
            <div class="icon1">
                <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
                <a href=" ">Log out </a>
            </div>

        </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2>Dashboard</h2>
                    <p>Home / Dashboard</p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""> Admin</a>
                </div>

            </div>

        </div>
        <div class="boxes">
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">1</h5>
                    <p>total Admin</p>
                </div>

            </div>
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">10</h5>
                    <p>total Coustomer</p>
                </div>
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">9</h5>
                    <p>Blog</p>
                </div>
            </div>
            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p>total order</p>
                </div>
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">500</h5>
                    <p>total delivery</p>
                </div>
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">50</h5>
                    <p>Pending order</p>
                </div>
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">1000</h5>
                    <p>Sold Items</p>
                </div>
            </div>

            <div class="box">
                <div style="padding-right:10px;"><i style="font-size: 42px;" ; class='bx bx-user-voice'></i></div>
                <div>
                    <h5 style="text-align: center;">2</h5>
                    <p>Ticket </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="left-earned">
                <div class="month">
                    <h3>Earned Per Month In 2022</h3>
                </div>
                <div class="day">
                    <h3>Product Order in Last 30 days</h3>
                </div>
            </div>
            <div class="right-earned">
                <div class="month">
                    <h3>Earned Per Month In 30 days</h3>
                </div>
                <div class="day">
                    <h3>Product sold in Last 30 days</h3>
                </div>
            </div>
        </div>
        <div class="order">
            <div class="r_order">
                <div class="r_button">
                    <a href="" class="btn btn-primary" style="margin-left: 30px;"> Recent Order</a>
                    <a href="/orderlog" class="btn btn-primary" style="margin-left:900px">All Order</a>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-12">
                    <table id="example" class="display" style="width:100%; height: 100px;">
                        <thead style="background-color: #0A2558; color:white; height: 37px;padding: 18px 0;">
                            <tr>

                                <td style="padding: 15px;">Order id</td>
                                <td>Coustomer</td>
                                <td>User</td>
                                <td>Status</td>
                                <td>Product</td>
                                <td>Delivery Date</td>
                                <td>View</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="height: 65px;">
                                <td style="padding: 15px;">510</td>
                                <td>Nikita Sharma</td>
                                <td>New</td>
                                <td>
                                    <span class="alert alert-warning">Pending</span>
                                </td>
                                <td>View</td>
                                <td>26/9/2021</td>
                                <td>
                                    <button type="button" class="btn btn-danger"><i
                                            class='bx bx-message-square-x'></i></button>
                                    <button type="button" class="btn btn-primary"><i class='bx bxs-edit-alt'></i></button>
                                    <button type="button" class="btn btn-secondary"><i class='bx bx-chat'></i></button>
                                    <button type="button" class="btn btn-info"><i class='bx bx-low-vision'></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="height: 65px;">
                                <td style="padding: 15px;">610</td>
                                <td>Rahul</td>
                                <td>New</td>
                                <td>
                                    <span class="alert alert-warning">Pending</span>
                                </td>
                                <td>View</td>
                                <td>16/9/2021</td>
                                <td>
                                    <button type="button" class="btn btn-danger"><i
                                            class='bx bx-message-square-x'></i></button>
                                    <button type="button" class="btn btn-primary"><i class='bx bxs-edit-alt'></i></button>
                                    <button type="button" class="btn btn-secondary"><i class='bx bx-chat'></i></button>
                                    <button type="button" class="btn btn-info"><i class='bx bx-low-vision'></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="height: 65px;">
                                <td style="padding: 15px;">410</td>
                                <td>Nikki</td>
                                <td>New</td>
                                <td>
                                    <span class="alert alert-warning">Pending</span>
                                </td>
                                <td>View</td>
                                <td>26/8/2022</td>
                                <td>
                                    <button type="button" class="btn btn-danger"><i
                                            class='bx bx-message-square-x'></i></button>
                                    <button type="button" class="btn btn-primary"><i class='bx bxs-edit-alt'></i></button>
                                    <button type="button" class="btn btn-secondary"><i class='bx bx-chat'></i></button>
                                    <button type="button" class="btn btn-info"><i class='bx bx-low-vision'></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>


            <%- include('./partials/footer'); %>