<%- include('./partials/header'); %>

<div class="banner">
    <div class="banner_name">
        <h5> Feedback </h5>
     </div>
</div>

<div class="dash">
    <div class="home">
        <div class="hp">
            <h2> Feedback</h2>
            <p>Home /Feedback</p>
        </div>
        <div class="hp-1">
            <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
        </div>
    </div>
</div>
<div class="all">
    <h2>View Feedback</h2>
    <div class="select-box-wrap">
        <select class="form-select" aria-label="Default select example">
            <option selected>Bulk option</option>
            <option value="1">Delete</option>
        </select>
        <button type="button" class="btn btn-primary">Apply</button>
        <!-- <a href="" class="btn btn-primary" style="margin-left: 1150px; padding: 10px 25px;">Add Partner</a> -->

    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-12">
        <table id="example" class="display mt-5" style="width:100%">
            <thead style="background-color: #0A2558;color:white; height: 3rem;">
                <tr>
                    <td><input type="checkbox" style="margin-left: 15px; "></t>
                    <td>Name</td>
                    <td>Mobile no</td>
                    <td>Review</td>
                    <td>Action</td>
                    
                    
                </tr>
            </thead>
            <tbody>

               
                        <tr>
                            <td style="padding: 10px;"><input type="checkbox" ></td>
                           
                            <td style="padding: 10px;">Rajat</td>
                            <td style="padding: 10px;">8094786099</td>
                            <td style="padding: 10px;">
                                Best Product
                            </td>
                            <td>
                                <a href=""  class="btn btn-primary" ><i class='bx bx-message-square-x'></i></a>
                            </td>
                        </tr>
                                                 
            </tbody>                    
        </table>
    </div>
</div>



<%- include('./partials/footer'); %>