<%- include('../partials/header'); %>
<div class="dashboard">
    <div class="icon">
        <i class='bx bxl-xing'></i>
        <div class="icon1">
            <a href=" ">View Site<i class='bx bx-chevron-down'></i> </a>
            <a href=" ">Log out </a>
        </div>

    </div>
        <div class="dash">
            <div class="home">
                <div class="hp">
                    <h2 style="margin-left: 10px;" >Terms & Condition</h2>
                <p>Home / Terms & Condition </p>
                </div>
                <div class="hp-1">
                    <a id="Admin" href=""><i class="fa-solid fa-user"></i> Admin</a>
                </div>
               
            </div>   
        <div class="cat">
            <div class="left-cat">
                <div class="all">
                    <h2 >Terms & Condition</h2>
               
           
            <div class="row">
                <dov class="col-12">
                  
                            
                            <%
                            if(sampleData.length >0){
                                sampleData.forEach(function(data){                                  
                                    %>
                                    <div >
                                        <p >
                                            <%=data.description %>
                                           </p>
                                           <a href="/setting/tags/edit/<%= data.id %>"  class="btn btn-primary" ><i class='bx bxs-edit-alt'></i></a> 
                                    </div>
                                   
                                    <%
                                })
                            } 
                            else{
                            %>
                               
                            %> 
                            <%   
                            }
                            %> 
                        </tbody>
                    </table>
                        
                    <div class="pagination">
                        <ul class="pagination justify-content-center">
                           
                          </ul>
                    </div>
            </div>
        </div>
                
            <div class="right-cat">
                <div class="new-cat">
                    <h3>Terms & Condition</h3>
                </div>
                <div class="mb-3">
                    <form action="/setting/tags" method="POST">
                    <label for="exampleFormControlTextarea1" class="form-label">Title</label>
                    <input type="text"  class="form-control" name="title" id="exampleFormControlInput1" placeholder="Name" style="width: 450px;"> 
                </div>

                <div class="mb-3">
                    
                    <label for="exampleFormControlTextarea1" class="form-label">Meta Tag</label>
                    <input type="text"  class="form-control" name="metatag" id="exampleFormControlInput1" placeholder="Name" style="width: 450px;"> 
                </div>
                <div class="mb-3">   
                    <label for="exampleFormControlTextarea1" class="form-label">Meta Title</label>
                    <input type="text"  class="form-control" name="metatitle" id="exampleFormControlInput1" placeholder="Name" style="width: 450px;"> 
                </div>
                <div class="mb-3">
                    
                    <label for="exampleFormControlTextarea1" class="form-label">Seo Url:</label>
                    <input type="text"  class="form-control" name="url" id="exampleFormControlInput1" placeholder="Name" style="width: 450px;"> 
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput" class="form-label">Tags Description</label>
                    <textarea class="form-control" name="description" id="editor" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Add New</button>              
            </div>  
        </form>
        </div>        


        
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#editor').summernote({
                    tabsize: 6,
                    height: 400
                });

            });
        </script>
<%- include('../partials/footer'); %>
